.container{
    height: 90%;
    width: 60%;
    display:grid;
    grid-template-rows: 10% 90%;
    border: 1px solid black;
   
}

.head{
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid black;
    
}

.center{
    display: flex;
    align-items: center;
    justify-content: center ;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button button{
    font-size: 1em;
    padding: 0.3em;
    border-radius: 10px;
}

.budgetstats{
    width: 90%;
    height: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    border: 2px solid black;
    padding:5px;
}

.category{
    grid-area: 1/1/4/2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.currspend{
    grid-area: 3/2/4/3;
}

.remspend{
    grid-area: 3/4/4/5;
}

.percentage{
    grid-area: 2/2/3/5;
    border: solid 1px black;
}

.progress{
    width: 50%;
    height: 100%;
    background-color: green;
}

.data{
    display: flex;
    justify-content: center;
    align-items: center;
}